.list {
    overflow: hidden;
    width: 95%;
    min-height: calc(60vh);
    margin: 15px auto;
    position: relative;

    .listShow {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3%;
    }

    .footerPage {
        position: absolute;
        bottom: 0;
    }
}